<div class="container">
    <h1 class="online_shop">Online shop</h1>
    <img
    class="img1"
        src="https://thumbs.dreamstime.com/b/laptop-computer-hand-basket-online-shop-ecommerce-concept-vector-94049870.jpg">

</div>